{% load static i18n %}
<div class="main-nav">
  <!-- Sidebar Logo -->
  <div class="logo-box">
    <a href="/" class="logo-dark">
      <img src="{% static 'images/logo-icon.png' %}" class="logo-sm" alt="logo sm" />
      <img src="{% static 'images/logo-text.png' %}" class="logo-lg" alt="logo dark" style="height: 30px; object-fit: contain;" />
    </a>

    <a href="/" class="logo-light">
      <img src="{% static 'images/logo-icon.png' %}" class="logo-sm" alt="logo sm" />
      <img src="{% static 'images/logo_transparent.png' %}" class="logo-lg" alt="logo light" style="height: 40px; object-fit: contain;" />
    </a>
  </div>

  <!-- Menu Toggle Button (sm-hover) -->
  <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
    <iconify-icon icon="iconamoon:arrow-left-4-square-duotone" class="button-sm-hover-icon"></iconify-icon>
  </button>

  <div class="scrollbar" data-simplebar>
    <ul class="navbar-nav" id="navbar-nav">
      <li class="menu-title">General</li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
          <span class="nav-icon">
            <iconify-icon icon="iconamoon:home-duotone"></iconify-icon>
          </span>
          <span class="nav-text"> Inicio </span>
        </a>
      </li>

      <li class="menu-title">NeuroMax (COSAFAM)</li>

      {% if user.is_authenticated and user.perfil.es_profesor %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tutor:dashboard' %}">
          <span class="nav-icon">
            <iconify-icon icon="iconamoon:books-duotone"></iconify-icon>
          </span>
          <span class="nav-text"> Dashboard Docente </span>
        </a>
      </li>
      {% endif %}

      {% if user.is_authenticated and user.perfil.es_estudiante %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tutor:mi_clase' %}">
          <span class="nav-icon">
            <iconify-icon icon="iconamoon:certificate-badge-duotone"></iconify-icon>
          </span>
          <span class="nav-text"> Mi Clase </span>
        </a>
      </li>
      {% endif %}

      <li class="menu-title">Configuración</li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/">
          <span class="nav-icon">
            <iconify-icon icon="iconamoon:settings-duotone"></iconify-icon>
          </span>
          <span class="nav-text"> Panel Admin </span>
        </a>
      </li>
    </ul>
  </div>
</div>